In [3]:
import pandas as pd
import datetime

In [29]:
hematology = pd.read_csv('../Resources/hematology.csv')
chemistry = pd.read_csv('../Resources/chemistry.csv')
bloodgas = pd.read_csv('../Resources/blood_gas.csv')

C:\Users\johng\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
bloodgas.loc[bloodgas['LABEL']=='Hemoglobin','LABEL'] = 'Hemoglobin_Blood_Gas'
bloodgas.loc[bloodgas['LABEL']=='Glucose','LABEL'] = 'Glucose_Blood_Gas'
chemistry.loc[chemistry['LABEL']=='Glucose','LABEL'] = 'Glucose_Chemistry'
hematology.loc[hematology['LABEL']=='Hemoglobin','LABEL'] = 'Hemoglobin_Hematology'

In [32]:
tests = ['Chloride, Whole Blood','Glucose_Chemistry', 'Hematocrit, Calculated', 'Hemoglobin_Blood_Gas','Lactate', 'Potassium, Whole Blood', 
         'Sodium, Whole Blood', 'Anion Gap', 'Albumin','Bicarbonate', 'Bilirubin, Total', 'Creatinine', 'Chloride', 
         'Glucose_Blood_Gas', 'Magnesium','Phosphate', 'Potassium', 'Sodium', 'Urea Nitrogen', 'Hematocrit', 'Hemoglobin_Hematology',
         'Platelet Count', 'PTT', 'INR(PT)', 'PT', 'White Blood Cells']

In [42]:
df = pd.concat([hematology,chemistry,bloodgas], ignore_index=True)

In [43]:
df.head()

,Unnamed: 0,SUBJECT_ID,HADM_ID,CHARTTIME,FLAG,LABEL,CATEGORY
0,11866885,3,NaN,2101-10-13 03:00:00,abnormal,Hematocrit,Hematology
1,11866886,3,NaN,2101-10-14 03:00:00,abnormal,Hematocrit,Hematology
2,11866887,3,NaN,2101-10-15 03:30:00,abnormal,Hematocrit,Hematology
3,11866888,3,NaN,2101-10-16 04:00:00,abnormal,Hematocrit,Hematology
4,11866889,3,145834.0,2101-10-22 04:00:00,abnormal,Hematocrit,Hematology

In [36]:
len(df)

25341470

In [44]:
df = df[df['LABEL'].isin(tests)]

In [38]:
len(df)

13434684

In [46]:
df = df.sort_values('CHARTTIME', axis = 0)

In [47]:
df.head(50)

,Unnamed: 0,SUBJECT_ID,HADM_ID,CHARTTIME,FLAG,LABEL,CATEGORY
15437898,9003029,18711,NaN,2096-02-26 01:00:00,abnormal,Phosphate,Chemistry
16968909,10534040,18711,NaN,2096-02-26 01:00:00,abnormal,Sodium,Chemistry
17772198,11337329,18711,NaN,2096-02-26 01:00:00,abnormal,Urea Nitrogen,Chemistry
16143431,9708562,18711,NaN,2096-02-26 01:00:00,NaN,Potassium,Chemistry
10371331,3936462,18711,NaN,2096-02-26 01:00:00,abnormal,Anion Gap,Chemistry
14806470,8371601,18711,NaN,2096-02-26 01:00:00,NaN,Magnesium,Chemistry
7618935,20057134,18711,NaN,2096-02-26 01:00:00,NaN,White Blood Cells,Hematology
11146381,4711512,18711,NaN,2096-02-26 01:00:00,NaN,Bicarbonate,Chemistry
1591402,14029601,18711,NaN,2096-02-26 01:00:00,abnormal,Hemoglobin_Hematology,Hematology
361513,12228398,18711,NaN,2096-02-26 01:00:00,abnormal,Hematocrit,Hematology
12520148,6085279,18711,NaN,2096-02-26 01:00:00,abnormal,Chloride,Chemistry
5298617,17736816,18711,NaN,2096-02-26 01:00:00,NaN,Platelet Count,Hematology
14096328,7661459,18711,NaN,2096-02-26 01:00:00,abnormal,Glucose_Chemistry,Chemistry
13319378,6884509,18711,NaN,2096-02-26 01:00:00,abnormal,Creatinine,Chemistry
16968910,10534041,18711,NaN,2096-02-26 04:00:00,NaN,Sodium,Chemistry
12520149,6085280,18711,NaN,2096-02-26 04:00:00,abnormal,Chloride,Chemistry
13319379,6884510,18711,NaN,2096-02-26 04:00:00,abnormal,Creatinine,Chemistry
10371332,3936463,18711,NaN,2096-02-26 04:00:00,NaN,Anion Gap,Chemistry
16143432,9708563,18711,NaN,2096-02-26 04:00:00,NaN,Potassium,Chemistry
17772199,11337330,18711,NaN,2096-02-26 04:00:00,abnormal,Urea Nitrogen,Chemistry
14096329,7661460,18711,NaN,2096-02-26 04:00:00,abnormal,Glucose_Chemistry,Chemistry
11146382,4711513,18711,NaN,2096-02-26 04:00:00,NaN,Bicarbonate,Chemistry
16140223,9705354,18711,NaN,2096-02-26 06:55:00,NaN,Potassium,Chemistry
17769212,11334343,18711,NaN,2096-02-26 06:55:00,abnormal,Urea Nitrogen,Chemistry
11146383,4711514,18711,NaN,2096-02-26 06:55:00,NaN,Bicarbonate,Chemistry
14096330,7661461,18711,NaN,2096-02-26 06:55:00,abnormal,Glucose_Chemistry,Chemistry
10371333,3936464,18711,NaN,2096-02-26 06:55:00,NaN,Anion Gap,Chemistry
12520150,6085281,18711,NaN,2096-02-26 06:55:00,abnormal,Chloride,Chemistry
13319380,6884511,18711,NaN,2096-02-26 06:55:00,abnormal,Creatinine,Chemistry
16965858,10530989,18711,NaN,2096-02-26 06:55:00,abnormal,Sodium,Chemistry
16140224,9705355,18711,NaN,2096-02-26 11:40:00,NaN,Potassium,Chemistry
12517162,6082293,18711,NaN,2096-02-26 11:40:00,abnormal,Chloride,Chemistry
14093461,7658592,18711,NaN,2096-02-26 11:40:00,abnormal,Glucose_Chemistry,Chemistry
15435761,9000892,18711,NaN,2096-02-26 11:40:00,abnormal,Phosphate,Chemistry
16965859,10530990,18711,NaN,2096-02-26 11:40:00,abnormal,Sodium,Chemistry
14804054,8369185,18711,NaN,2096-02-26 11:40:00,NaN,Magnesium,Chemistry
17769213,11334344,18711,NaN,2096-02-26 11:40:00,abnormal,Urea Nitrogen,Chemistry
13316358,6881489,18711,NaN,2096-02-26 11:40:00,abnormal,Creatinine,Chemistry
10368407,3933538,18711,NaN,2096-02-26 11:40:00,NaN,Anion Gap,Chemistry
11143404,4708535,18711,NaN,2096-02-26 11:40:00,NaN,Bicarbonate,Chemistry
358024,12224909,18711,NaN,2096-02-27 04:37:00,abnormal,Hematocrit,Hematology
10368408,3933539,18711,NaN,2096-02-27 04:37:00,NaN,Anion Gap,Chemistry
5295600,17733799,18711,NaN,2096-02-27 04:37:00,NaN,Platelet Count,Hematology
17769214,11334345,18711,NaN,2096-02-27 04:37:00,abnormal,Urea Nitrogen,Chemistry
16965860,10530991,18711,NaN,2096-02-27 04:37:00,NaN,Sodium,Chemistry
16140225,9705356,18711,NaN,2096-02-27 04:37:00,NaN,Potassium,Chemistry
14093462,7658593,18711,NaN,2096-02-27 04:37:00,abnormal,Glucose_Chemistry,Chemistry
13316359,6881490,18711,NaN,2096-02-27 04:37:00,abnormal,Creatinine,Chemistry
14804055,8369186,18711,NaN,2096-02-27 04:37:00,NaN,Magnesium,Chemistry
12517163,6082294,18711,NaN,2096-02-27 04:37:00,NaN,Chloride,Chemistry

In [49]:
df.drop_duplicates(subset=['HADM_ID','LABEL'], inplace=True)

In [53]:
df[df['HADM_ID']==145834.0]

,Unnamed: 0,SUBJECT_ID,HADM_ID,CHARTTIME,FLAG,LABEL,CATEGORY
10062276,3627407,3,145834.0,2101-10-20,normal,Anion Gap,Chemistry
15210554,8775685,3,145834.0,2101-10-20,abnormal,Phosphate,Chemistry
7313829,19752028,3,145834.0,2101-10-20,abnormal,White Blood Cells,Hematology
9013152,24494751,3,145834.0,2101-10-20,abnormal,PT,Hematology
13000146,6565277,3,145834.0,2101-10-20,abnormal,Creatinine,Chemistry
10832086,4397217,3,145834.0,2101-10-20,normal,Bicarbonate,Chemistry
4980886,17419085,3,145834.0,2101-10-20,normal,Platelet Count,Hematology
16646793,10211924,3,145834.0,2101-10-20,normal,Sodium,Chemistry
12204666,5769797,3,145834.0,2101-10-20,abnormal,Chloride,Chemistry
13797535,7362666,3,145834.0,2101-10-20,normal,Glucose_Chemistry,Chemistry
8,11866893,3,145834.0,2101-10-20,abnormal,Hematocrit,Hematology
8067051,22758974,3,145834.0,2101-10-20,normal,PTT,Hematology
1287402,13725601,3,145834.0,2101-10-20,abnormal,Hemoglobin_Hematology,Hematology
14546431,8111562,3,145834.0,2101-10-20,normal,Magnesium,Chemistry
15801058,9366189,3,145834.0,2101-10-20,abnormal,Potassium,Chemistry
17455199,11020330,3,145834.0,2101-10-20,abnormal,Urea Nitrogen,Chemistry
8541976,24023575,3,145834.0,2101-10-20,normal,INR(PT),Hematology
24672657,23933865,3,145834.0,2101-10-20,abnormal,Hemoglobin_Blood_Gas,Blood Gas
24582942,23844150,3,145834.0,2101-10-20,normal,"Hematocrit, Calculated",Blood Gas
22674913,2329626,3,145834.0,2101-10-20,abnormal,Lactate,Blood Gas
24959102,25500590,3,145834.0,2101-10-20,normal,"Potassium, Whole Blood",Blood Gas
25196123,25737611,3,145834.0,2101-10-20,normal,"Sodium, Whole Blood",Blood Gas
25276872,26118925,3,145834.0,2101-10-20,abnormal,"Chloride, Whole Blood",Blood Gas
24762368,25303856,3,145834.0,2101-10-20,abnormal,Glucose_Blood_Gas,Blood Gas
19446448,24963831,3,145834.0,2101-10-20,abnormal,Albumin,Chemistry
19208186,22520704,3,145834.0,2101-10-20,normal,"Bilirubin, Total",Chemistry

In [51]:
df['CHARTTIME'] = df['CHARTTIME'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S').date())

In [52]:
df['FLAG'].fillna(value = 'normal', inplace = True)

In [58]:
df.head()

,Unnamed: 0,SUBJECT_ID,HADM_ID,CHARTTIME,FLAG,LABEL,CATEGORY
15437898,9003029,18711,NaN,2096-02-26,abnormal,Phosphate,Chemistry
16968909,10534040,18711,NaN,2096-02-26,abnormal,Sodium,Chemistry
17772198,11337329,18711,NaN,2096-02-26,abnormal,Urea Nitrogen,Chemistry
16143431,9708562,18711,NaN,2096-02-26,normal,Potassium,Chemistry
10371331,3936462,18711,NaN,2096-02-26,abnormal,Anion Gap,Chemistry

In [63]:
df_tidy = pd.pivot_table(df, index=['SUBJECT_ID','HADM_ID'],values='FLAG',columns='LABEL', aggfunc='first')

In [64]:
df_tidy.shape

(58112, 26)

In [65]:
df_tidy.head()

,LABEL,Albumin,Anion Gap,Bicarbonate,"Bilirubin, Total",Chloride,"Chloride, Whole Blood",Creatinine,Glucose_Blood_Gas,Glucose_Chemistry,Hematocrit,...,PT,PTT,Phosphate,Platelet Count,Potassium,"Potassium, Whole Blood",Sodium,"Sodium, Whole Blood",Urea Nitrogen,White Blood Cells
SUBJECT_ID,HADM_ID,,,,,,,,,,,,,,,,,,,,,
2,163353.0,NaN,NaN,NaN,normal,NaN,NaN,NaN,NaN,NaN,abnormal,...,NaN,NaN,NaN,abnormal,NaN,NaN,NaN,NaN,NaN,abnormal
3,145834.0,abnormal,normal,normal,normal,abnormal,abnormal,abnormal,abnormal,normal,abnormal,...,abnormal,normal,abnormal,normal,abnormal,normal,normal,normal,abnormal,abnormal
4,185777.0,abnormal,normal,normal,abnormal,normal,NaN,normal,NaN,abnormal,abnormal,...,normal,normal,normal,normal,abnormal,NaN,normal,NaN,normal,delta
5,178980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal,...,NaN,NaN,NaN,normal,NaN,NaN,NaN,NaN,NaN,normal
6,107064.0,abnormal,abnormal,abnormal,normal,normal,abnormal,abnormal,abnormal,abnormal,abnormal,...,abnormal,abnormal,abnormal,normal,abnormal,normal,normal,normal,abnormal,normal

In [66]:
df_tidy.fillna(value = 'no test', inplace = True)

In [67]:
df_tidy.to_csv('../Resources/labs.csv')